.chroma {
  background-color: unset;
}
.danger,
.note,
.warning,
.tip {
  border-left-style: solid;
  border-bottom-left-radius: 0.7rem;
  border-left-width: 0.4rem;
  /*border-right-style: solid;
  border-top-right-radius: 1rem;
  border-right-width: 0.4rem;*/
  margin-left: 0;
  > p {
    top: -0rem;
    position: relative;
    padding: 0.0rem 1rem;
    margin-bottom: 0.5rem;
  }
}

.warning {
  border-left-color: #ffbb00;
}

.note {
  border-left-color: #0000ee;
}

.danger {
  border-left-color: #ee0000;
}

.tip{
  border-left-color: #42b400;
}

.block-icon{
  display: block;
  pointer-events: none;
}