.chroma {
  background-color: unset;
}

/* Blocks similar to markdown extension */
.danger,
.note,
.warning,
.tip {
  border-left-style: solid;
  border-bottom-left-radius: 0.7rem;
  border-left-width: 0.4rem;
  /*border-right-style: solid;
  border-top-right-radius: 1rem;
  border-right-width: 0.4rem;*/
  margin-left: 0;
  > p {
    top: -0rem;
    position: relative;
    padding: 0.0rem 1rem;
    margin-bottom: 0.5rem;
  }
}

.warning {
  border-left-color: #ffbb00;
}

.note {
  border-left-color: #0000ee;
}

.danger {
  border-left-color: #ee0000;
}

.tip{
  border-left-color: #42b400;
}

.block-icon{
  display: block;
  pointer-events: none;
}

/* Blocks for mathematics */
.theorem,
.lemma,
.definition,
.proof {
  border-left-style: solid;
  border-bottom-left-radius: 0.0rem;
  border-left-width: 0.8rem;
  margin-left: 0;
  > p {
    top: -0rem;
    position: relative;
    padding: 0.0rem 1rem;
    margin-bottom: 0.5rem;
  }
}


.theorem{
  border-left-color: rgb(205, 255, 24);
}

.lemma{
  border-left-color: rgb(195, 0, 255);
}

.definition{
  border-left-color: rgb(0, 255, 242);
}

.proof{
  border-left-color: rgb(255, 187, 0);
}

.colsection {
  border-left-style: solid;
  border-bottom-left-radius: 0.0rem;
  border-left-width: 0.2rem;
  margin-left: 0;
  padding-left: 0.2rem;
  > p {
    top: -0rem;
    position: relative;
    padding: 0.0rem 0.5rem;
    margin-bottom: 0.5rem;
  }
}

a {
  color: rgb(237, 255, 255);
}
